html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: auto;
  font-size: 9pt;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}

#app {
  height: calc(100% - 4rem);
}
