html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: auto;
  font-size: 9pt;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}

#app {
  height: calc(100% - 4rem);
}

input.flatpickr-input {
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  color: rgb(119, 119, 119);
}

@media print {
  #printable {
    visibility: visible;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    overflow: visible;
  }
  #app {
    visibility: hidden;
  }
  #noprint {
    display: none;
  }
}
